QIoT_side/Node_red.txt
[{"id":"ead20ac.e5883f8","type":"tab","label":"Flow 1"},{"id":"f714c549.28a058","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2a8238a.bbbafc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"df03c181.6216b","type":"ui_group","z":"","name":"Default","tab":"2a8238a.bbbafc8","disp":true,"width":"6"},{"id":"2e42b2e0.5dae9e","type":"mongodb","z":"","hostname":"10.0.3.5","port":"27017","db":"test","name":""},{"id":"e2bd8ea5.5c613","type":"debug","z":"ead20ac.e5883f8","name":"Click debug tab to watch data stream","active":true,"console":"false","complete":"false","x":531.5,"y":452,"wires":[]},{"id":"db50f046.d66a3","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"temp","resourcetype":"582ebc5e67ad91000645dec2","qiot_resource_name":"Temperature","qiot_id":"qiot.temperature","datatypes":["Float"],"units":["¢XC","¢XF"],"min_value":-40,"max_value":125,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":912.5,"y":20,"wires":[]},{"id":"8ff255de.850808","type":"qiotbroker in","z":"ead20ac.e5883f8","name":"MQTT Message In","flow":"ead20ac.e5883f8","opt_customtopic":false,"customtopic":"custom_topic_6bf943772b2d11e788d23d0d2fadefe5","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/buzzer","username":"admin","rules":[{"v":"5901bca59c31dc001e492493","persistent":false,"meta":{"maxvalue":"125","minvalue":"-40","default_value":"25","unit":"¢XC","datatype":"Float"},"resid":"temp"},{"v":"5901bd059c31dc001dd25c94","persistent":false,"meta":{"maxvalue":"100","minvalue":"0","unit":"","datatype":"Float"},"resid":"hum"},{"v":"5901bd389c31dc001dd25c95","persistent":false,"meta":{"unit":"lux","datatype":"Float"},"resid":"light"},{"v":"5901bda09c31dc001e492494","persistent":false,"meta":{"unit":"","datatype":"Boolean"},"resid":"button"},{"v":"5901bdfd9c31dc001dd25c96","persistent":false,"meta":{"unit":"¢X","datatype":"Float"},"resid":"moisture"},{"v":"5901be309c31dc001e492495","persistent":false,"meta":{"unit":"¢X","datatype":"Int"},"resid":"uv"},{"v":"5901be589c31dc001dd25c97","persistent":false,"meta":{"unit":"","datatype":"Boolean"},"resid":"motion"},{"v":"5901be789c31dc001e492496","persistent":false,"meta":{"unit":"¢X","datatype":"Int"},"resid":"encoder"}],"outputs":8,"key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":101.5,"y":135,"wires":[["db50f046.d66a3"],["6a8360a0.4d839"],["cba4a0df.f8a1d"],["69644422.43fb1c"],["2f67c696.8981da"],["eaceb648.835678"],["e196b1c3.ae347"],["a38e15bb.d8ec28"]]},{"id":"6a8360a0.4d839","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"hum","resourcetype":"583faeb9d2bb340006354cd4","qiot_resource_name":"Humidity","qiot_id":"qiot.humidity","datatypes":["Float"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":916,"y":61,"wires":[]},{"id":"cba4a0df.f8a1d","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Light","resourcetype":"582ebfce67ad91000645dec8","qiot_resource_name":"Light","qiot_id":"qiot.lightsensor","datatypes":["Float"],"units":["lux"],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":920,"y":100,"wires":[]},{"id":"69644422.43fb1c","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Button","resourcetype":"582ebca667ad91000645dec3","qiot_resource_name":"Button","qiot_id":"qiot.button","datatypes":["Boolean"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":913,"y":139,"wires":[]},{"id":"2f67c696.8981da","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Mosture","resourcetype":"586dc1ef5a6b6800065c0225","qiot_resource_name":"Custom Sensor(Float)","qiot_id":"qiot.custom.float","datatypes":["Float"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":100,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":928,"y":184,"wires":[]},{"id":"eaceb648.835678","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"UV","resourcetype":"586dc1ef5a6b6800065c0225","qiot_resource_name":"Custom Sensor(Float)","qiot_id":"qiot.custom.float","datatypes":["Float"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":100,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":923,"y":228,"wires":[]},{"id":"e196b1c3.ae347","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"PIR","resourcetype":"582ebd1367ad91000645dec7","qiot_resource_name":"Piezo Vibration","qiot_id":"qiot.piezovibration","datatypes":["Boolean"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":924,"y":265,"wires":[]},{"id":"a38e15bb.d8ec28","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Encoder","resourcetype":"586dc38c5a6b6800065c0227","qiot_resource_name":"Custom Sensor(Int)","qiot_id":"qiot.custom.int","datatypes":["Int"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":3000,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":926,"y":320,"wires":[]},{"id":"83e73886.a71e18","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Relay","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/relay","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":436,"y":318,"wires":[]},{"id":"29ca1c4.bfbece4","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Servo","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/servo","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":437,"y":381,"wires":[]},{"id":"84c917f7.234a78","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Buzzer","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/buzzer","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":600,"y":592,"wires":[]},{"id":"86aad189.8b92b","type":"function","z":"ead20ac.e5883f8","name":"relay","func":"msg.payload = {value:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":318,"wires":[["83e73886.a71e18"]]},{"id":"2c271aa3.0c7b46","type":"function","z":"ead20ac.e5883f8","name":"serov","func":"msg.payload = {value:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":381,"wires":[["29ca1c4.bfbece4","e2bd8ea5.5c613"]]},{"id":"8ad51a02.9b7658","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":549,"wires":[["dc02b2fe.c4b25"]]},{"id":"dc02b2fe.c4b25","type":"function","z":"ead20ac.e5883f8","name":"Buzzer volume","func":"msg.payload = {value:'{\"command\": \"setVolume\",\"volume\": 0.25}'};\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":552,"wires":[["84c917f7.234a78"]]},{"id":"2e900fc4.9744c","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":594,"wires":[["ce60cf04.6431"]]},{"id":"ce60cf04.6431","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play","func":"msg.payload = {value:'{\"command\": \"playSound\",\"tone\": 2, \"dely\": 2}'};\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":594,"wires":[["84c917f7.234a78"]]},{"id":"1abbd908.7af8a7","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":649,"wires":[["af96e2c0.effd"]]},{"id":"af96e2c0.effd","type":"function","z":"ead20ac.e5883f8","name":"Buzzer stop","func":"msg.payload = {value:'{\"command\": \"stopSound\"}'};\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":648,"wires":[["84c917f7.234a78"]]},{"id":"3a5ca9cf.a2dbd6","type":"ui_switch","z":"ead20ac.e5883f8","name":"","label":"switch","group":"df03c181.6216b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":80,"y":318,"wires":[["86aad189.8b92b"]]},{"id":"f1612174.076b3","type":"ui_numeric","z":"ead20ac.e5883f8","name":"","label":"numeric","group":"df03c181.6216b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"170","step":"20","x":86,"y":381,"wires":[["2c271aa3.0c7b46"]]},{"id":"e20f2821.dac988","type":"comment","z":"ead20ac.e5883f8","name":"QIoT Dashboard","info":"","x":110,"y":38,"wires":[]},{"id":"8da30c45.3a5c","type":"comment","z":"ead20ac.e5883f8","name":"Node-Red Dashboard","info":"","x":124,"y":273,"wires":[]},{"id":"b36177ba.4e4c18","type":"comment","z":"ead20ac.e5883f8","name":"Control Buzzer","info":"","x":105,"y":489,"wires":[]}]