QIoT_side/Node_red.txt
[{"id":"e2bd8ea5.5c613","type":"debug","z":"ead20ac.e5883f8","name":"Click debug tab to watch data stream","active":true,"console":"false","complete":"false","x":531.5,"y":452,"wires":[]},{"id":"db50f046.d66a3","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"temp","resourcetype":"582ebc5e67ad91000645dec2","qiot_resource_name":"Temperature","qiot_id":"qiot.temperature","datatypes":["Float"],"units":["¢XC","¢XF"],"min_value":-40,"max_value":125,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":806.5,"y":27,"wires":[]},{"id":"8ff255de.850808","type":"qiotbroker in","z":"ead20ac.e5883f8","name":"MQTT Message In","flow":"ead20ac.e5883f8","opt_customtopic":false,"customtopic":"custom_topic_6bf943772b2d11e788d23d0d2fadefe5","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/buzzer","username":"admin","rules":[{"v":"5901bca59c31dc001e492493","persistent":false,"meta":{"maxvalue":"125","minvalue":"-40","default_value":"25","unit":"¢XC","datatype":"Float"},"resid":"temp"},{"v":"5901bd059c31dc001dd25c94","persistent":false,"meta":{"maxvalue":"100","minvalue":"0","unit":"","datatype":"Float"},"resid":"hum"},{"v":"5901bd389c31dc001dd25c95","persistent":false,"meta":{"unit":"lux","datatype":"Float"},"resid":"light"},{"v":"5901bda09c31dc001e492494","persistent":false,"meta":{"unit":"","datatype":"Boolean"},"resid":"button"},{"v":"5901bdfd9c31dc001dd25c96","persistent":false,"meta":{"unit":"¢X","datatype":"Float"},"resid":"moisture"},{"v":"5901be309c31dc001e492495","persistent":false,"meta":{"unit":"¢X","datatype":"Int"},"resid":"uv"},{"v":"5901be589c31dc001dd25c97","persistent":false,"meta":{"unit":"","datatype":"Boolean"},"resid":"motion"},{"v":"5901be789c31dc001e492496","persistent":false,"meta":{"unit":"¢X","datatype":"Int"},"resid":"encoder"}],"outputs":8,"key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":101.5,"y":135,"wires":[["db50f046.d66a3","cc2cd127.f18a8"],["6a8360a0.4d839","26cc4267.c3ee8e"],["cba4a0df.f8a1d","3bddfc44.5d9894"],["69644422.43fb1c"],["2f67c696.8981da"],["eaceb648.835678"],["e196b1c3.ae347"],["a38e15bb.d8ec28"]]},{"id":"6a8360a0.4d839","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"hum","resourcetype":"583faeb9d2bb340006354cd4","qiot_resource_name":"Humidity","qiot_id":"qiot.humidity","datatypes":["Float"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":806,"y":67,"wires":[]},{"id":"cba4a0df.f8a1d","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Light","resourcetype":"582ebfce67ad91000645dec8","qiot_resource_name":"Light","qiot_id":"qiot.lightsensor","datatypes":["Float"],"units":["lux"],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":807,"y":106,"wires":[]},{"id":"69644422.43fb1c","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Button","resourcetype":"582ebca667ad91000645dec3","qiot_resource_name":"Button","qiot_id":"qiot.button","datatypes":["Boolean"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":809,"y":147,"wires":[]},{"id":"2f67c696.8981da","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Mosture","resourcetype":"586dc1ef5a6b6800065c0225","qiot_resource_name":"Custom Sensor(Float)","qiot_id":"qiot.custom.float","datatypes":["Float"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":100,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":802,"y":188,"wires":[]},{"id":"eaceb648.835678","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"UV","resourcetype":"586dc1ef5a6b6800065c0225","qiot_resource_name":"Custom Sensor(Float)","qiot_id":"qiot.custom.float","datatypes":["Float"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":100,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":814,"y":229,"wires":[]},{"id":"e196b1c3.ae347","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"PIR","resourcetype":"582ebd1367ad91000645dec7","qiot_resource_name":"Piezo Vibration","qiot_id":"qiot.piezovibration","datatypes":["Boolean"],"units":[],"min_value":null,"max_value":null,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":815,"y":268,"wires":[]},{"id":"a38e15bb.d8ec28","type":"qiotdashboard datasource out","z":"ead20ac.e5883f8","name":"Encoder","resourcetype":"586dc38c5a6b6800065c0227","qiot_resource_name":"Custom Sensor(Int)","qiot_id":"qiot.custom.int","datatypes":["Int"],"units":["¢XC","¢XF","¢X","Hz","KHz","bar","mbar"],"min_value":0,"max_value":3000,"metadata":true,"func":"msg.payload = msg.payload.value;\nreturn msg;","noerr":0,"x":807,"y":305,"wires":[]},{"id":"83e73886.a71e18","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Relay","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/relay","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":436,"y":318,"wires":[]},{"id":"29ca1c4.bfbece4","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Servo","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/servo","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":437,"y":381,"wires":[]},{"id":"84c917f7.234a78","type":"qiotbroker out","z":"ead20ac.e5883f8","name":"Buzzer","opt_customtopic":false,"topic":"","qos":"1","retain":"true","thing":"f58aabeb-ce85-4980-a9c9-aee5162641cd","qtopic":"qiot/things/admin/inteledison/buzzer","username":"admin","key":"r:07c48aab7e2d0fb1ff3da7214b022b88","x":766,"y":595,"wires":[]},{"id":"86aad189.8b92b","type":"function","z":"ead20ac.e5883f8","name":"relay","func":"msg.payload = {value:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":318,"wires":[["83e73886.a71e18","e2bd8ea5.5c613"]]},{"id":"2c271aa3.0c7b46","type":"function","z":"ead20ac.e5883f8","name":"serov","func":"msg.payload = {value:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":381,"wires":[["29ca1c4.bfbece4","e2bd8ea5.5c613"]]},{"id":"8ad51a02.9b7658","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":539,"wires":[["dc02b2fe.c4b25"]]},{"id":"dc02b2fe.c4b25","type":"function","z":"ead20ac.e5883f8","name":"Buzzer volume","func":"msg.payload = {value:'{\"command\": \"setVolume\",\"volume\": 0.25}'};\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":539,"wires":[["84c917f7.234a78"]]},{"id":"2e900fc4.9744c","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":332.00000762939453,"y":791.5000133514404,"wires":[["ce60cf04.6431"]]},{"id":"ce60cf04.6431","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play do","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 0,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":550.0000076293945,"y":788.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"1abbd908.7af8a7","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":622,"wires":[["af96e2c0.effd"]]},{"id":"af96e2c0.effd","type":"function","z":"ead20ac.e5883f8","name":"Buzzer stop","func":"msg.payload = {value:'{\"command\": \"stopSound\"}'};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":663,"wires":[["84c917f7.234a78"]]},{"id":"3a5ca9cf.a2dbd6","type":"ui_switch","z":"ead20ac.e5883f8","name":"","label":"switch","group":"df03c181.6216b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":80,"y":318,"wires":[["86aad189.8b92b"]]},{"id":"f1612174.076b3","type":"ui_numeric","z":"ead20ac.e5883f8","name":"angle","label":"angle","group":"df03c181.6216b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"170","step":"20","x":76,"y":381,"wires":[["2c271aa3.0c7b46"]]},{"id":"e20f2821.dac988","type":"comment","z":"ead20ac.e5883f8","name":"QIoT Dashboard","info":"","x":110,"y":38,"wires":[]},{"id":"8da30c45.3a5c","type":"comment","z":"ead20ac.e5883f8","name":"Node-Red Dashboard","info":"","x":124,"y":269,"wires":[]},{"id":"b36177ba.4e4c18","type":"comment","z":"ead20ac.e5883f8","name":"Control Buzzer","info":"","x":105,"y":489,"wires":[]},{"id":"b2b2b4c7.3379a8","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play re","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 1,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":551.0000076293945,"y":845.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"b76c6736.b69f68","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play mi","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 2,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":553.0000076293945,"y":891.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"ac29b590.138ba8","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play fa","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 3,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":552.0000076293945,"y":941.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"293bea79.16f936","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play sol","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 4,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":553.0000076293945,"y":995.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"d82026ae.3cbc08","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play la","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 5,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":552.0000076293945,"y":1048.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"10345ec1.f07981","type":"function","z":"ead20ac.e5883f8","name":"Buzzer play si","func":"if(context.global.get(\"delay\")===undefined){\n    context.global.set(\"delay\",100000);\n}\nmsg.payload = {\n    value:'{\"command\": \"playSound\",'+\n            '\"tone\": 6,'+\n            '\"dely\": '+context.global.get(\"delay\")+'}'};\nreturn msg;","outputs":1,"noerr":0,"x":551.0000076293945,"y":1097.5000133514404,"wires":[["84c917f7.234a78"]]},{"id":"70f4d69f.6620d8","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":332.00000762939453,"y":842.5000133514404,"wires":[["b2b2b4c7.3379a8"]]},{"id":"2e89762b.60c1ea","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":331.00000762939453,"y":892.5000133514404,"wires":[["b76c6736.b69f68"]]},{"id":"61e175b0.3e40bc","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":333.00000762939453,"y":939.5000133514404,"wires":[["ac29b590.138ba8"]]},{"id":"ed23d871.89f598","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":333.00000762939453,"y":989.5000133514404,"wires":[["293bea79.16f936"]]},{"id":"20eccc12.6bb454","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":336.00000762939453,"y":1044.5000133514404,"wires":[["d82026ae.3cbc08"]]},{"id":"657c146.b480fec","type":"inject","z":"ead20ac.e5883f8","name":"Virtual Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":338.00000762939453,"y":1097.5000133514404,"wires":[["10345ec1.f07981"]]},{"id":"6c63ee76.35ef2","type":"switch","z":"ead20ac.e5883f8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","outputs":7,"x":336.00000381469727,"y":1207.0000190734863,"wires":[["ce60cf04.6431"],["b2b2b4c7.3379a8"],["b76c6736.b69f68"],["ac29b590.138ba8"],["293bea79.16f936"],["d82026ae.3cbc08"],["10345ec1.f07981"]]},{"id":"7fbca547.88461c","type":"debug","z":"ead20ac.e5883f8","name":"Click debug tab to watch data stream","active":true,"console":"false","complete":"payload","x":404.25000762939453,"y":1324.250020980835,"wires":[]},{"id":"3bddfc44.5d9894","type":"switch","z":"ead20ac.e5883f8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":574.25,"y":396.75,"wires":[["ce60cf04.6431"]]},{"id":"8c63e81c.fa2608","type":"ui_template","z":"ead20ac.e5883f8","group":"df03c181.6216b","name":"","order":0,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload\"></div>-->\n<p>Buzzer</p><br>\n<md-button ng-click=\"send({payload: {value:0}})\">\n    DO\n</md-button>\n<md-button ng-click=\"send({payload: {value:1}})\">\n    RA\n</md-button>\n<md-button ng-click=\"send({payload: {value:2}})\">\n    MI\n</md-button>\n<md-button ng-click=\"send({payload: {value:3}})\">\n    FA\n</md-button>\n<md-button ng-click=\"send({payload: {value:4}})\">\n    SOL\n</md-button>\n<md-button ng-click=\"send({payload: {value:5}})\">\n    LA\n</md-button>\n<md-button ng-click=\"send({payload: {value:6}})\">\n    SI\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"x":91.25,"y":1207.2500190734863,"wires":[["7fbca547.88461c","6c63ee76.35ef2"]]},{"id":"29c6eebf.c96602","type":"ui_numeric","z":"ead20ac.e5883f8","name":"volume","label":"volume","group":"df03c181.6216b","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1","step":"0.1","x":127.75,"y":581.0000085830688,"wires":[["ca72471f.864758"]]},{"id":"ca72471f.864758","type":"function","z":"ead20ac.e5883f8","name":"Buzzer volume","func":"msg.payload = {value:'{\"command\": \"setVolume\",\"volume\": '+ msg.payload +'}'};\nreturn msg;","outputs":1,"noerr":0,"x":326.00000762939453,"y":581.0000095367432,"wires":[["84c917f7.234a78"]]},{"id":"3f5a00c8.01848","type":"ui_button","z":"ead20ac.e5883f8","name":"stop","group":"df03c181.6216b","order":0,"width":0,"height":0,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":141.75,"y":663.2500095367432,"wires":[["af96e2c0.effd"]]},{"id":"718dc1a.4b9224","type":"function","z":"ead20ac.e5883f8","name":"setDelay","func":"if(msg.payload.setDelay < 0){\n    msg.payload.setDelay = msg.payload.setDelay*-1;\n}\nmsg.payload = msg.payload.setDelay*100000;\ncontext.global.set(\"delay\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":325.7500114440918,"y":722.7500133514404,"wires":[["c7abd6bd.bab1c8"]]},{"id":"c7abd6bd.bab1c8","type":"debug","z":"ead20ac.e5883f8","name":"Click debug tab to watch data stream","active":true,"console":"false","complete":"payload","x":848.2500152587891,"y":720.750072479248,"wires":[]},{"id":"92a384b8.179ec8","type":"ui_form","z":"ead20ac.e5883f8","name":"","label":"","group":"df03c181.6216b","order":0,"width":0,"height":0,"options":[{"label":"setDelay","value":"setDelay","type":"number","required":true}],"formValue":{"setDelay":""},"payload":"","topic":"","x":142.25001907348633,"y":721.5000104904175,"wires":[["718dc1a.4b9224"]]},{"id":"2f8a96bb.af461a","type":"ui_chart","z":"ead20ac.e5883f8","name":"","group":"dc5b4bed.51d7b8","order":0,"width":0,"height":0,"label":"Temperture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":973,"y":398,"wires":[[],[]]},{"id":"81128dcf.de4a7","type":"ui_chart","z":"ead20ac.e5883f8","name":"","group":"dc5b4bed.51d7b8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":973,"y":459,"wires":[[],[]]},{"id":"26cc4267.c3ee8e","type":"function","z":"ead20ac.e5883f8","name":"decode","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":822,"y":433,"wires":[["81128dcf.de4a7"]]},{"id":"cc2cd127.f18a8","type":"function","z":"ead20ac.e5883f8","name":"decode","func":"if(msg.payload.value != 22.0){\n    msg.payload = msg.payload.value\n    return msg;    \n}","outputs":1,"noerr":0,"x":820,"y":376,"wires":[["2f8a96bb.af461a"]]},{"id":"df03c181.6216b","type":"ui_group","z":"","name":"Control","tab":"2a8238a.bbbafc8","disp":true,"width":"6"},{"id":"dc5b4bed.51d7b8","type":"ui_group","z":"","name":"Dashboard","tab":"2a8238a.bbbafc8","order":2,"disp":true,"width":"6"},{"id":"2a8238a.bbbafc8","type":"ui_tab","z":"","name":"QIoT Suite Lite","icon":"dashboard"}]